
.github/
queue-monitor/.next/*
queue-monitor/node_modules/*
queue-monitor/out/*

smart_contracts/nodejs-test-client/node_modules/*
smart_contracts/nodejs-test-client/wallets/*
smart_contracts/tests/smart_contracts_tests.move.bak
smart_contracts/sources/smart_contracts.move.bak
smart_contracts/deploy.txt
queue-monitor/nodejs-test-client/*
front-end/nodejs-test-client/*
